{% extends 'layouts/feature.html' %} {% block title %}This is a Title{% endblock
%} {% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/feature1.page.css')}}" />
<header>
  <div class="header-container">
    <div class="logo">HWASEON</div>
  </div>
  <nav class="navbar">
    <li>키워드 분석 / 카테고리 현황</li>
    <li>제품 트래킹 (N&C) / 키워드별 예상 판매(N)</li>
    <li>대량키워드 요약</li>
    <li class="current">블로그 노출 확인</li>
  </nav>
</header>
<div class="container">
  <!-- 1행 -->
  <section class="row row1">
    <div class="search-statistics">
      <form class="search-bar-container">
        <input type="text" />
        <button class="search-button" type="submit">
          <span class="material-icons"> search </span>
        </button>
      </form>
      <div class="search-statistic search-statistic-1">
        <div class="title">월간 검색수</div>
        <div class="statistics">
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
        </div>
      </div>
      <div class="search-statistic search-statistic-1">
        <div class="title">월간 검색수</div>
        <div class="statistics">
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
        </div>
      </div>
      <div class="search-statistic search-statistic-1">
        <div class="title">월간 검색수</div>
        <div class="statistics">
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
          <div class="statistic">
            <div class="name">PC</div>
            <div class="number">10,800</div>
          </div>
        </div>
      </div>
    </div>
    <div class="search-graph">
      <div class="search-graph-header">
        <div class="left">
          <div class="pill primary">연령별(성구분)</div>
          <div class="pill">요일별</div>
          <div class="pill">1개월</div>
          <div class="pill">1년</div>
          <div class="pill">5년</div>
        </div>
        <div class="right">직접입력</div>
      </div>
      <canvas id="myChart" width="300" height="300"></canvas>
    </div>
  </section>

  <!-- 2행 -->
  <section class="row row2">
    <h3 class="section-title">
      관련 키워드 현황 (N 자동완성 / N쇼핑 자동완성 / 연관검색어)
    </h3>
    <div class="divider"></div>
    <table id="table1">
      <thead>
        <tr>
          <th>키워드</th>
          <th>출처</th>
          <th>PC 월검색량</th>
          <th>MO 월검색량</th>
          <th>Total</th>
          <th>PC 광고클릭</th>
          <th>MO 광고클릭</th>
          <th>상품수</th>
          <th>상품경쟁률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
        <tr>
          <td>폼클렌징</td>
          <td>연겁</td>
          <td>11,000</td>
          <td>21,600</td>
          <td>31,600</td>
          <td>103</td>
          <td>103</td>
          <td>154</td>
          <td>145</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="row row3">
    <div class="section-header">
      <div class="section-title">
        카테고리 인기검색어
      </div>
      <div class="section-description">
        관련 카테고리 인기검색어<br />순위변동 - 30일 전과 비교
      </div>
      <div class="category-criterion">
        <div class="category category-1"><input type="text" placeholder="1차 카테고리" class="category-input">
          <span class="material-icons"> arrow_right </span>
        </div>
        <div class="category category-2"><input type="text" placeholder="2차 카테고리" class="category-input">
          <span class="material-icons"> arrow_right </span>
        </div>
        <div class="category category-3"><input type="text" placeholder="3차 카테고리" class="category-input">
          <span class="material-icons"> arrow_right </span>
        </div>
        <div class="category category-4"><input type="text" placeholder="4차 카테고리" class="category-input">
          <div class="search-button">
            <span class="material-icons search-button">search</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <table id="table2">
      <thead>
        <tr>
          <th>TOP 500순위</th>
          <th>키워드</th>
          <th>순위변동</th>
          <th>PC 월클릭수</th>
          <th>MO 월클릭수</th>
          <th>Total</th>
          <th>상품수</th>
          <th>상품경쟁률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>폼클렌징</td>
          <td>-</td>
          <td>103</td>
          <td>31600</td>
          <td>154</td>
          <td>154</td>
          <td>131</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="row row4">
    <div class="category-header">
      <form class="search-bar-container">
        <input type="text" />
        <button class="search-button" type="submit">
          <span class="material-icons"> search </span>
        </button>
      </form>
      <div>
        해당 키워드 N쇼핑 판매량(Npay 기준 | 최근 7일간)
      </div>
    </div>
  </section>
</div>

<script>
  let ctx = document.getElementById("myChart").getContext("2d");
  let myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: ["#ff6633"],
          borderColor: ["#ff6633"],
          borderWidth: 1,
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
<script>
  $(document).ready(function () {
    $("#table1").DataTable();
    $("#table2").DataTable();
  });
</script>

{% endblock %}