{% extends 'layouts/feature.html' %} {% block title %}This is a Title{% endblock
%} {% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/feature4.page.css')}}" />
<div class="container">
    <section class="row keyword-filter">
        <div class="left">
            <div class="market-selector input-table">
                <div class="left-cell">
                    <label for="">키워드 입력</label>
                </div>
                <div class="right-cell">
                    <input type="text" placeholder="EX) 탈모샴푸 (엔터시, 누적)" id="keyword">
                </div>
            </div>
            <div class="url-input input-table">
                <div class="left-cell">
                    <label for="">엑셀 업로드</label>
                </div>
                <div class="right-cell">
                    <input type="text" placeholder="탈모샴푸 관련 키워드.csv">
                </div>
            </div>
            <div class="bottom">
                <div class="description">
                    엑셀 양식 다운로드 - 구글드라이브 세가지 중 <br>편하신 양식으로 작성 후, 돋보기를 클릭해주세요.
                </div>
                <div class="search-button" id="search">
                    검색하기
                </div>
            </div>
        </div>
        <div class="right input-table">
            <div class="left-cell">
                <span>
                    키워드 입력<br>
                    콤마(구분)
                </span>
            </div>
            <div class="right-cell">
                <textarea class="keywords-input"
                    placeholder="ex) 1회 Max 10개까지 가능합니다. 샴푸, 탈모샴푸, 탈모에좋은샴푸, 향기좋은샴푸, 샴푸특가"></textarea>
            </div>
        </div>
    </section>
    <section class="row search-filter-1">
        <div class="divider"></div>
        <table id="table1">
            <thead>
                <tr>
                    <th>키워드</th>
                    <th>PC 월검색량</th>
                    <th>MO 월검색량</th>
                    <th>Total</th>
                    <th>MO 광고클릭</th>
                    <th>PC 광고클릭</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
</div>
<script>
    $(document).ready(function () {
        $("#table1").DataTable();
        $("#table2").DataTable();

        $('div#search').on('click', (event) => {
            alert("fuck")
        })
    });
</script>

{% endblock %}