{% extends 'layouts/feature.html' %} {% block title %}This is a Title{% endblock
%} {% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/feature5.page.css')}}"
/>
<div class="container">
  <section class="row blog-id-search">
    <div class="left">
      <div class="blog-id-input input-table">
        <div class="left-cell">
          <label for="">블로그 ID</label>
        </div>
        <div class="right-cell">
          <input type="text" placeholder="dotoree0103" id="blog-id" />
        </div>
      </div>
      <div class="bottom">
        <button>키워드 자동 생성 click</button>
        <button id="get-blog-data">View 순위확인 click</button>
      </div>
    </div>
    <div class="right">
      <span>
        1. 블로그ID에 'blog.naver.com/아이디' 해당값 입력 → 최신글 15개 가져와짐
      </span>
      <span>
        2. 키워드 자동 생성 or 직접 입력 후, 'View 순위 확인'을 Click → View
        순위 노출됨
      </span>
      <span>
        3. PC와 Mobile의 View 순위는 약간 상이합니다. Mobile 기준 작성했습니다.
      </span>
    </div>
  </section>
  <section class="row search-filter-1">
    <div class="divider"></div>
    <table id="table1">
      <thead>
        <tr>
          <th>글 제목</th>
          <th>키워드</th>
          <th>View 순위</th>
          <th>Total 검색량</th>
          <th>컨텐츠 발행량</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </section>
</div>
<script>
  $(document).ready(function () {
    let mainTable = $("#table1").DataTable({
      columns: [
        {
          data: (row, type, val, meta) => {
            return `<a href="${row.url}">${row.title}</a>`;
          },
        },
        {
          data: (row, type, val, meta) => {
            return row.hashTags[0] || "x";
          },
        },
        { data: "viewRank" },
        { data: () => 0 },
        { data: () => 0 },
      ],
    });

    $("button#get-blog-data").on("click", () => {
      const blogId = $("input#blog-id").val();
      if (blogId) {
        mainTable.clear();
        axios.get("/api/blog_rank", { params: { blogId } }).then((d) => {
          const rows = d.data;
          console.log(rows);

          mainTable.rows.add(rows);
          mainTable.draw();
          mainTable.processing = false;
        });
      }
    });
  });
</script>

{% endblock %}
