{% extends 'layouts/main.html' %} {% block title %}HWASEON | 대량키워드 요약{%
endblock %} {% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/main.page.css')}}"
/>
<div class="container">
  <h1 class="logo">HWASEON</h1>
  <form class="search-bar-container">
    <input type="text" class="search-input" placeholder="검색어를 입력하세요" />
    <button class="search-button" type="submit">
      <span class="material-icons"> search </span>
    </button>
  </form>

  <ul class="features">
    <a href="/keywords" class="feature selected">키워드 분석</a>
    <a class="feature">제품트래킹</a>
    <a class="feature">대량키워드 검색</a>
    <a class="feature">블로그 노출도 확인</a>
  </ul>
  {% include 'partials/footer.html' %}
</div>
{% endblock %}
