{% extends 'layouts/main.html' %} {% block title %}HWASEON | 대량키워드 요약{%
endblock %} {% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='styles/main.page.css')}}"
/>
<div class="container">
  <h1 class="logo">HWASEON</h1>
  <form class="search-bar-container">
    <input type="text" class="search-input" placeholder="검색어를 입력하세요" />
    <button class="search-button" type="submit">
      <span class="material-icons"> search </span>
    </button>
  </form>

  <ul class="features">
    <li class="feature">키워드 분석</li>
    <li class="feature">제품트래킹</li>
    <li class="feature">대량키워드 검색</li>
    <li class="feature">블로그 노출도 확인</li>
  </ul>
  <footer>
    <div>
      (주)화선기획 | 사업자 등록번호 : 726-81-01774 | 통신판매신고번호 : 제
      2020-서울마포-1174호 | 서울특별시 마포구 독막로 6길 9, 2층 2173호
    </div>
    <div>
      (주)화선양행 | 사업자 등록번호 : 666-88-01919 | 통신판매신고번호 : 제
      2021-서울서초-0123호 | 서울특별시 서초구 반포대로22길 35 (서현빌딩)
      서현빌딩 2067호
    </div>
    <div>대표자 : 민기태 | 문의 : cs@hwaseon.com</div>
  </footer>
</div>
{% endblock %}
