* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

header {
  position: fixed;
  top: 0;
  background-color: white;

  .header-container {
    width: 100vw;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px #3432325c;

    .logo {
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 0.05px;
      color: #ff6633;
      text-transform: uppercase;
      opacity: 1;
    }
  }

  border-bottom: 1px solid #999;

  nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    li {
      padding-top: 27px;
      padding-bottom: 17px;
      height: 100%;
      list-style-type: none;
      font-size: 20px;
      letter-spacing: 0.02px;
      color: #878787;
      font-weight: 300;

      &:not(:last-child) {
        margin-right: 145px;
      }

      &.current {
        color: #ff6633;
        border-bottom: #ff6633 2px solid;
        font-weight: bold;
      }
    }
  }
}

.container,
.logo {
  width: 90vw;
}

.container {
  padding-top: 180px;
}

table {
  thead {
    background-color: #ff6633;
  }

  tbody {
    text-align: center;
  }
}

.divider {
  margin: 20px 0;
  background-color: #aaa;
  width: 100%;
  height: 1px;
}

section {
  margin-bottom: 40px;
}

button {
  all: unset;
  color: gray;
  background-color: #ffcdbc;
  border-radius: 10px;
}
