@import "./utils.scss";

section.search-filter-1 {
  .section-header {
    @include flex(row, flex-start, center);

    .store-name,
    .keyword-name {
      width: 350px;
      height: 42px;
      margin-right: 10px;
    }

    button.search-button-1 {
      padding: 10px 15px;
    }
  }
}

section.search-filter-2 {
  h3 {
    color: #ff6633;
  }

  .section-header {
    margin-top: 20px;
    @include flex(row);
    .keyword-name {
      width: 350px;
      height: 42px;
      margin-right: 10px;
    }

    button.search-button-2 {
      padding: 10px 15px;
    }
  }
}

table {
  thead {
    background-color: rgba(#19ce60, 0.29);
  }
}
