.search-bar-container {
  top: 220px;
  left: 240px;
  width: 410px;
  height: 42px;
  border: 1px solid #ff6633;
  opacity: 1;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.search-bar-container input {
  all: unset;
  flex: 1;
  padding: 0 24px;
  font-size: 20px;
}
.search-bar-container button.search-button {
  all: unset;
  width: 54px;
  background-color: #ff6633;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search-bar-container button.search-button span {
  color: white;
  font-size: 2.5rem;
}

section.row.row1 {
  display: flex;
  flex-direction: row;
}
section.row.row1 .search-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  margin-right: 30px;
}
section.row.row1 .search-statistics .search-statistic {
  top: 278px;
  left: 240px;
  width: 410px;
  background: rgba(0, 0, 0, 0.05) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
}
section.row.row1 .search-statistics .search-statistic .title {
  border-bottom: 1px solid black;
  padding: 7px 23px;
}
section.row.row1 .search-statistics .search-statistic .statistics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;
}
section.row.row1 .search-statistics .search-statistic .statistics .statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
section.row.row1 .search-statistics .search-statistic .statistics .statistic .name {
  margin-bottom: 20px;
}
section.row.row1 .search-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 500px;
}
section.row.row1 .search-graph .search-graph-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
section.row.row1 .search-graph .search-graph-header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
section.row.row1 .search-graph .search-graph-header .left .pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 15px;
  border: 1px solid #707070;
  color: #656565;
  border-radius: 13px;
  cursor: pointer;
}
section.row.row1 .search-graph .search-graph-header .left .pill:not(:last-child) {
  margin-right: 10px;
}
section.row.row1 .search-graph .search-graph-header .left .pill.primary {
  color: #ff6633;
  border-color: #ff6633;
}

section.row.row3 .section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
section.row.row3 .section-header > *:not(:last-child) {
  margin-right: 50px;
}
section.row.row3 .section-header .section-title {
  font-size: 20px;
  color: #ff6633;
}
section.row.row3 .section-header .category-criterion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
section.row.row3 .section-header .category-criterion .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
section.row.row3 .section-header .category-criterion .category input.category-input {
  all: unset;
  border: 1px solid grey;
  height: 27px;
  width: 130px;
  border-radius: 13px;
  text-align: center;
}
section.row.row3 .section-header .category-criterion .category.category-4 input.category-input {
  margin-right: 10px;
}
section.row.row3 .section-header .category-criterion .search-button {
  padding: 0 10px;
  height: 27px;
  background-color: #ff6633;
  color: white;
}

section.row.row3 h3.section-title {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.02px;
  color: #000000;
  opacity: 0.64;
}

table#table3 th {
  background-color: green;
}

/*# sourceMappingURL=feature1.page.css.map */
