@import "./utils.scss";

.input-table {
  @include flex(row, stretch, stretch);

  .left-cell,
  .right-cell {
    border: 1px solid #ff6633;
    color: grey;
    padding: 5px 0;
    text-align: center;

    @include flex(row, center, center);
  }

  .left-cell {
    width: 100px;
  }

  .right-cell {
    flex: 1;
    select,
    input,
    textarea {
      all: unset;
      width: 100%;
      height: 100%;
    }
  }
}

section.keyword-filter {
  @include flex(row, space-between, center);
  color: grey;

  .left {
    @include flex(column);
    .market-selector,
    .url-input {
      width: 492px;
      margin-bottom: 10px;
    }

    .bottom {
      width: 492px;
      @include flex(row, space-between, center);

      .search-button {
        top: 324px;
        left: 614px;
        width: 123px;
        height: 46px;
        background: #ffcdbc;
        border-radius: 10px;
        opacity: 1;

        @include flex(row, center, center);
      }
    }

    margin-right: 30px;
  }

  .right {
    width: 100%;
    height: 162px;

    .left-cell {
      width: 135px;
      @include flex(column, center, center);

      span {
        text-align: center;
      }
    }

    .right-cell {
      flex: 1;

      textarea {
        padding: 28px 18px;
      }
    }
  }
}

section.search-filter-1 {
  .section-header {
    @include flex(row, flex-start, center);

    .store-name,
    .keyword-name {
      width: 350px;
      height: 42px;
      margin-right: 10px;
    }

    button.search-button-1 {
      padding: 10px 15px;
    }
  }
}

section.search-filter-2 {
  h3 {
    color: #ff6633;
  }

  .section-header {
    margin-top: 20px;
    @include flex(row);
    .keyword-name {
      width: 350px;
      height: 42px;
      margin-right: 10px;
    }

    button.search-button-2 {
      padding: 10px 15px;
    }
  }
}

table {
  thead {
    background-color: rgba(#19ce60, 0.29);
  }
}
