<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/feature.layout.css') }}"
    />

    <!-- ChartJS -->
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"
      integrity="sha256-9CKDuBNIQo/dQgrK9nyK+XcD2MBjb0JgnPMANrQw6Cs="
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="logo">HWASEON</div>
      </div>
      <nav class="navbar" id="navbar">
        <a class="menu" href="/feature1">키워드 분석 / 카테고리 현황</a>
        <a class="menu" href="/feature2"
          >제품 트래킹 (N&C) / 키워드별 예상 판매(N)</a
        >
        <a class="menu" href="/feature3">대량키워드 요약</a>
        <a class="menu" href="/feature4">블로그 노출 확인</a>
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
  <script>
    const url = new URL(window.location);
    $("#navbar").find(`.menu[href='${url.pathname}']`).toggleClass("current");
  </script>
</html>
